{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link rel="stylesheet" href="{% static 'css/cayman.css' %}"
          type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto"
          rel="stylesheet">
    <!--<link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
          crossorigin="anonymous">-->

    <title>{% block title %}{% endblock %}</title>
</head>

<body>
<section class='page-header'>
    <h1 class='project-name'>Books</h1>
    {% if user.username %}
        <a href='/account' class='btn'>{{ user.username }}</a>
        <a href='/logout' class='btn'>Log out</a>
    {% else %}
        <a href='/login?next={{ request.get_full_path|urlencode }}'
           class='btn'> Log in</a>
        <a href='{% url 'register' %}'
           class='btn'>Register</a>
    {% endif %}
</section>

<section class='main-content'>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %}
                    class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% block content %} {% endblock %}

    <footer class="site-footer">
        {% block footer %}
            <span class="site-footer-credits">Powered by <a
                    href="https://www.djangoproject.com/">Django</a>. Formatted by <a
                    href='https://github.com/pages-themes/cayman'>Cayman</a>.</span>
        {% endblock %}
    </footer>
</section>

<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>-->
</body>

</html>
